@charset "UTF-8";
/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Set up some CSS variables to theme the application. */
:root {
  --main-green: #024731;
  --matr-navbar-bg: #003F18;
  --matr-navbar-bg-rgb: 0, 63, 24;
  --n: 53;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.green-background {
  background-color: var(--main-green) !important;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
#navbar-login-dropdown, #navbar-current-user {
  color: white;
}

.sharp {
  border-radius: 0 !important;
}

.no-flex {
  flex: 0 !important;
}

#faculty-information-sort {
  background-color: var(--main-green);
  float: right;
}

#faculty-information-search {
  justify-content: end;
}

#faculty-information-search button {
  background-color: var(--main-green);
}

#club-information-search button{
  background-color: var(--main-green);
  border-color: var(--main-green);
}
#club-information-list .card-btn {
  background-color: var(--main-green);
}
#room-list button {
  background-color: var(--main-green);
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 3;
  cursor: pointer;
  pointer-events: bounding-box;
}

.hole {
  z-index: 20;
  background-color: white;
  border-radius: 20%;
}

.active.nav-link {
  color:orange !important;
}

@media (max-width: 993px) {
  #tutorial-button {
    display: none;
  }
}

.elevated-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/*
path {
  fill: white;
  pointer-events: auto;
}
*/

.room {
  animation: room-hover 1s infinite alternate;
  cursor: pointer;
}

.room2 {
  fill: lightgreen;
}

.not-ics-room:hover {
  animation: not-ics-room-hover 1s infinite alternate;
}

@keyframes room-hover {
  from {
    fill: white;
  }
  to {
    fill: lightgreen;
  }
}
@keyframes not-ics-room-hover {
  from {
    fill: white;
  }
  to {
    fill: red;
  }
}
.room-list-table {
  height: 80vh;
  overflow-y: auto;
}
svg {
  transform: scale(0.9, 0.9);
}

footer a:link {
  text-decoration: none;
}

footer a:hover {
  color: lightgreen !important;
}

.type{
  overflow: fragments;
  background-repeat:no-repeat;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.cont{
  /*display: inline-block;*/
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Lucida Console', monospace;
  /*font-size: 24px;*/
  font-weight: bold;
  text-align: center;
  align-items: center;
  alignment: center;
  align-self: center;
}

.verticalScroll {
  height: 50vh;
  overflow-y: scroll;
  width: 100%;
}
.map-container {
  height: 662px;
  overflow: auto
}
svg {
  /*transform: scale(2);*/
  /*overflow: visible;*/
}

#blue-number {
  pointer-events: none;
}

.listIcons {
  transform: scale(1.5,1.5);
  fill: black;
}

.roomSvg {
  fill: white;
}

.listing {
  margin: 1em;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-content: center;
  alignment: center;
}

.flip-card {
  perspective: 1000px;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
  height: 400px;
}

.card-front,
.card-back {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: -100px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-btn {
  background-color: var(--main-green);
}
.land-card {
  /*background-color: rgba(0, 63, 24, 0.70);*/
  opacity: 1;
  /*width: 50%;*/
  /*height: 50%;*/
  left: 50%;
  top: 25vh;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  padding-top: -20%;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 7px;
  padding-top: 3px;
}

.react-tagsinput--focused {
  border-color: dodgerblue;
  border-width: 2px;
}

.react-tagsinput-tag {
  background-color: lightgray;
  border-radius: 2px;
  border: lightgray;
  color: black;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a {
  text-decoration: none;
}

.react-tagsinput-tag a::before {
  content: "   ×";
  color: black;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  font-weight: 400;
  outline: none;
  padding: 5px;
  width: 200px;
}

.modal-dialog.faculty-table-modal {
  min-width: 40%;
}

